<div>
    <div class="topnav" id="myTopnav">
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
        <div >
        <mat-sidenav-container class="custom-sidenav-container" fxFlexFill style="height: 100vh;" >
          <mat-sidenav #sidenav  >
            
           
            <mat-nav-list  >
              <a href="about-us" mat-list-item >
                <mat-icon></mat-icon> 
                About Us
              </a> 
              <a href="projects" mat-list-item>
                <mat-icon></mat-icon>
                Projects</a>
              <a href="our-team" mat-list-item>
                  <mat-icon></mat-icon>
                  Our Team</a>
              <a href="contact" mat-list-item>
                <mat-icon></mat-icon>
                Contacts
              </a>
             
              <a (click)="sidenav.toggle()" mat-list-item>
                <mat-icon></mat-icon> Close
              </a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
      </div>         
       
    </div>