<div>
    <div class="topnav" id="myTopnav">
        <mat-toolbar color="danger">
          <mat-toolbar-row style="height: 100px; " >
          
            <span><a href="home"><img class="logo" id="logo" src="./assets/photos/littologo.png" alt="" style="  
              max-width: 30%;
              height: auto;
             margin-left:0;"> </a> </span>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm style=" right:10px " style=" float:right; clear:right; "  >
                <div class="container"  >
                   <mat-icon>menu</mat-icon>
                  </div>
              </button>
              
            <div fxShow="true" fxHide.lt-md="true" style="padding: 100px;" class="container-fluid" >

            
              <a href="about-us" mat-button class="d">       
                <mat-icon></mat-icon>
                <b>About Us</b>
              </a>
             
              <a href="projects" mat-button class="d">       
                <mat-icon></mat-icon>
                <b>Our Projects</b>
              </a>
             
              <a href="our-team" mat-button class="d">       
                <mat-icon></mat-icon>
                <b>Our Team</b>
              </a>
    
           
              <a href="contact" mat-button class="b">
                <mat-icon></mat-icon>
                <b>Contacts</b>
              </a>  
           
              
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
        <div >
        <mat-sidenav-container class="custom-sidenav-container" fxFlexFill style="height: 100vh;" >
          <mat-sidenav #sidenav  >
            
           
            <mat-nav-list  >
              <a href="about-us" mat-list-item >
                <mat-icon></mat-icon> 
                About Us
              </a> 
              <a href="projects" mat-list-item>
                <mat-icon></mat-icon>
                Projects</a>
              <a href="our-team" mat-list-item>
                  <mat-icon></mat-icon>
                  Our Team</a>
    
              
              <a href="contact" mat-list-item>
                <mat-icon></mat-icon>
                Contacts
              </a>
             
              <a (click)="sidenav.toggle()" mat-list-item>
                <mat-icon></mat-icon> Close
              </a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
      </div>         
       
    </div>