<app-navbar></app-navbar>
<img src="./assets/photos/litto17.jpg" alt="" style="width: 100%; height: 70vh;">
<br><br><br>
<h2 class="text-center" style="color: blue;"> Our Story</h2>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="text-center">
                LITTO FOUNDATION was founded by Robert Litto, Norah Mkiwa and Dorothy maghuwa in the year 2020,thefoundation grew up rapidly and in the year 2022 august we had attracted 100 members who are a great support in ensuring that we achieve our vision and visions
            </p>
            <br><br>
            <h3 class="text-center">Finding Our Roots</h3>
            <br>
            <p class="text-center">
                Our first visitation was on October 2020, we visited Kebete children’s home, on November we visited street kids in Nairobi CBD Along Moi avenue, December we visited ST Joseph children’s BURA home in Taita Taveta. In April 2021, Calvary of Zion children’s home Mombasa, May 2021 Nyumba ya wazee Tudor Mombasa, July 2021 Huruma children’s home Machakos, September 2021 upendo kids village Muranga,
            </p>
            <br>
            <p class="text-center">
                December we celebrated our Christmas with kids of GREAT Hope children’s home in Kiambu, 2022 June St. Marys primary school in Muranga, July 2022 Halifax high school .We   still have more programmes lined up before the end of year
            </p>
            <br><br>
            <mat-card style="background-color: pink;">
                <img src="./assets/photos/litto23.jpg" alt="" style="width: 100%;">
            </mat-card>
            <br><br><br>
            <h3 class="text-center"> How We Usually help</h3>
            <p class="text-center">
                We normally request for what the children’s home need and buy them depending with capital we have this includes basic requirements like food e.g. rice, cooking oil, floor cereals ,clothing’s and sanitary towels, when visiting the street families we normally prepare food either cooked or fast food for the families we then share with them while mentoring tend imposing hope to them finally on school visitation we buy gifts for the student these encourages them to interact with us and enjoy the mentorship session with us
            </p>
            <br><br><br>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<app-footer></app-footer>